<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Configuración de conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/formacion</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Dialecto MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Pool de conexiones -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Mostrar SQL en consola -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>


        <property name="hibernate.hbm2ddl.auto">validate</property>

        <property name="hibernate.cache.use_second_level_cache">false</property>

        <!-- Context de sesión actual -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Mapeo de entidades -->
        <mapping class="com.elias.model.entity.Persona"/>
        <mapping class="com.elias.model.entity.Alumno"/>
        <mapping class="com.elias.model.entity.Profesor"/>
        <mapping class="com.elias.model.entity.Curso"/>
        <mapping class="com.elias.model.entity.Matricula"/>

    </session-factory>
</hibernate-configuration>